.textColor{
    color: #495057;
    cursor: pointer;
    letter-spacing: 1.9px;
  }
  .parent .fs-new{
    font-size: .8em;
  }
  @media (min-width: 1200px) { 

    .w-xxl{
        width: 50% !important;
    }



   }