html{
  box-sizing: border-box;

}
body {
  box-sizing: border-box;
  background-color: #f1f1f1;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  ::selection{
    background-color: #495057;
    color: red;
  }
  input::placeholder{
    opacity: 1;
    transition: .3s;
  }
}
input:focus::placeholder{
  opacity: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
